</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>
      Contact @ 
      email : abc@gmail.com,
      Mobile : 1234567890 <br>
      &copyRegan Neethi Jon A 
    </p>
  </div>
</div>
</body>
</html>
