<%- include("partials/header"); -%>
    <h1>CERTIFICATION</h1>
    <p>
        <ul>
            <li>Udemy Web Development certification</li>
            <li>Business English certification (BEC)</li>
        </ul>
    </p>
<%- include("partials/footer"); -%>