<%- include("partials/header"); -%>
    <h1>EDUCATION</h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">School/College</th>
                <th scope="col">Place</th>
                <th scope="col">Percentage/CGPA</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">St. Joseph's College of Engineering</th>
                <td>Chennai</td>
                <td>7.83 CGPA</td>
              </tr>
              <tr>
                <td scope="row">Silver Jubille Matric Hr. Sec School</th>
                <td>Mayiladuthurai</td>
                <td>87%</td>
              </tr>
              <tr>
                <td scope="row">Dr. G. S. Kalyanasundaram Matric Hr. Sec School</th>
                <td>Pazhaya Gudalur, Mayiladuthurai District</td>
                <td>93.4%</td>
              </tr>
            </tbody>
          </table>
<%- include("partials/footer"); -%>
