<%- include("partials/header"); -%>
    <h1>EXPERIENCE</h1>
    <p>
        <ul>
           <li>Lacus vel facilisis volutpat est velit egestas dui id ornare.</li> 
           <li>Semper auctor neque vitae tempus quam. Sit amet cursus sit amet dictum sit amet justo.</li> 
           <li>Viverra tellus in hac habitasse. Imperdiet proin fermentum leo vel orci porta.</li> 
       </ul>
    </p>
<%- include("partials/footer"); -%>
