<%- include("partials/header"); -%>
    <h1>SKILLS</h1>
    <p>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Database</li>
            <li>Communication skills</li>
        </ul>
    </p>
<%- include("partials/footer"); -%>
